body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  position: relative;
  width: 100dvw;
  height: 100dvh;
}

#timer {
  position: fixed;
  top: 2%;
  left: 50%;
  translate: -50%;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#bodydiv {
  position: absolute;
  /* top: 0;
  left: 0; */
  /* width: 100dvw;
  height: 100dvh; */
}

#game,#progress-bar,#start,.row,.card,.dot {
  box-sizing: border-box;
  position: absolute;
}

#game,#start {
  background: rgb(245,245,245);
  border: solid black;
  /* border-radius: 15px; */
}

#start {
  text-align: center;
}

#progress-bar {
  background: rgb(0,199,0);
  border: solid rgb(0,199,0);
  height: 0;
}

.card {
  background-color: white;
  border: solid black;
}

.dot {
  border: solid black;
  border-radius: 50%;
}

@keyframes rjiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(3deg);
  }
  23.5% {
    transform: rotate(-1.5deg);
  }
  41.8% {
    transform: rotate(0.75deg);
  }
  66.5% {
    transform: rotate(-0.375deg);
  }
}

@keyframes ljiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  23.5% {
    transform: rotate(1.5deg);
  }
  41.8% {
    transform: rotate(-0.75deg);
  }
  66.5% {
    transform: rotate(0.375deg);
  }
}

@keyframes rjiggle2 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(3deg);
  }
  23.5% {
    transform: rotate(-1.5deg);
  }
  41.8% {
    transform: rotate(0.75deg);
  }
  66.5% {
    transform: rotate(-0.375deg);
  }
}

@keyframes ljiggle2 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  23.5% {
    transform: rotate(1.5deg);
  }
  41.8% {
    transform: rotate(-0.75deg);
  }
  66.5% {
    transform: rotate(0.375deg);
  }
}

@keyframes rjiggle3 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(3deg);
  }
  23.5% {
    transform: rotate(-1.5deg);
  }
  41.8% {
    transform: rotate(0.75deg);
  }
  66.5% {
    transform: rotate(-0.375deg);
  }
}

@keyframes ljiggle3 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  23.5% {
    transform: rotate(1.5deg);
  }
  41.8% {
    transform: rotate(-0.75deg);
  }
  66.5% {
    transform: rotate(0.375deg);
  }
}

@keyframes rjiggle4 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(3deg);
  }
  23.5% {
    transform: rotate(-1.5deg);
  }
  41.8% {
    transform: rotate(0.75deg);
  }
  66.5% {
    transform: rotate(-0.375deg);
  }
}

@keyframes ljiggle4 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  23.5% {
    transform: rotate(1.5deg);
  }
  41.8% {
    transform: rotate(-0.75deg);
  }
  66.5% {
    transform: rotate(0.375deg);
  }
}

.card[selected] {
  scale: 1.05;
  border: solid rgb(0,199,0);
}

.card[rjiggle] {
  animation: rjiggle 0.85s;
}

.card[ljiggle] {
  animation: ljiggle 0.85s;
}

.card[selected][rjiggle] {
  animation: rjiggle2 0.85s;
}

.card[selected][ljiggle] {
  animation: ljiggle2 0.85s;
}

@keyframes redAnim {
  from {
    border-color: rgb(199,0,0);
  }
  to {
    border-color: rgb(0,199,0);
  }
}

@keyframes redAnim2 {
  from {
    border-color: rgb(199,0,0);
  }
  to {
    border-color: rgb(0,199,0);
  }
}

.card[red][rjiggle] {
  animation: rjiggle3 0.85s, redAnim 1s;
}

.card[red][ljiggle] {
  animation: ljiggle3 0.85s, redAnim 1s;
}

.card[red][toggler][rjiggle] {
  animation: rjiggle4 0.85s, redAnim2 1s;
}

.card[red][toggler][ljiggle] {
  animation: ljiggle4 0.85s, redAnim2 1s;
}

@keyframes redeal {
  0% {
    scale: 1;
  }
  45% {
    scale: 0;
  }
  55% {
    scale: 0;
  }
  /* 100% {
    scale: 1;
  } */
}

@keyframes deal {
  from {
    scale: 0;
  }
  /* to {
    scale: 1;
  } */
}

.card[gone] {
  /* animation: redeal 1s ease-in-out; */
  animation: redeal 0.7s;
}

.card[appear],#start[appear] {
  animation: deal 3.11s;
}

.card[rjiggle][gone] {
  animation: redeal 0.7s,rjiggle 0.85s;
}

.card[ljiggle][gone] {
  animation: redeal 0.7s,ljiggle 0.85s;
}

.card[selected][rjiggle][gone] {
  animation: redeal 0.7s,rjiggle2 0.85s;
}

.card[selected][ljiggle][gone] {
  animation: redeal 0.7s,ljiggle2 0.85s;
}

.card[red][rjiggle][gone] {
  animation: redeal 0.7s,rjiggle3 0.85s, redAnim 1s;
}

.card[red][ljiggle][gone] {
  animation: redeal 0.7s,ljiggle3 0.85s, redAnim 1s;
}

.card[red][toggler][rjiggle][gone] {
  animation: redeal 0.7s,rjiggle4 0.85s, redAnim2 1s;
}

.card[red][toggler][ljiggle][gone] {
  animation: redeal 0.7s,ljiggle4 0.85s, redAnim2 1s;
}

.card[rjiggle][appear] {
  animation: deal 3.11s,rjiggle 0.85s;
}

.card[ljiggle][appear] {
  animation: deal 3.11s,ljiggle 0.85s;
}

.card[selected][rjiggle][appear] {
  animation: deal 3.11s,rjiggle2 0.85s;
}

.card[selected][ljiggle][appear] {
  animation: deal 3.11s,ljiggle2 0.85s;
}

.card[red][rjiggle][appear] {
  animation: deal 3.11s,rjiggle3 0.85s, redAnim 1s;
}

.card[red][ljiggle][appear] {
  animation: deal 3.11s,ljiggle3 0.85s, redAnim 1s;
}

.card[red][toggler][rjiggle][appear] {
  animation: deal 3.11s,rjiggle4 0.85s, redAnim2 1s;
}

.card[red][toggler][ljiggle][appear] {
  animation: deal 3.11s,ljiggle4 0.85s, redAnim2 1s;
}
